    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" (ngSubmit)="onLogin()">
					<span class="login100-form-title p-b-26">
						Bienvenue
					</span>
                    <div class="form-image-container">
                      <img src="assets/img/logotelecom.png" alt="Bienvenue" class="form-image">
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email" [(ngModel)]="email" required>
						<span class="focus-input100" data-placeholder="E-mail"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass" [(ngModel)]="password" required>
						<span class="focus-input100" data-placeholder="Mot de passe"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Se connecter
							</button>
						</div>
					</div>
                    <div *ngIf="errorMessage" class="text-danger mt-2 text-center">
                        {{ errorMessage }}
                    </div>
					<div class="text-center p-t-115">
						<span class="txt1">
							Vous n'avez pas de compte ?
						</span>
						<a class="txt2 text-danger" routerLink="/signup">Inscrivez-vous</a>
					</div>
				</form>
			</div>
		</div>
	</div>


