<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Validation d’une demande</h4>
                      <p class="card-category">Acceptation officielle après vérification des critères.</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Référence BS
                                  </th>
                                  <th>
                                      Nom & Prénom de l'adhérent
                                  </th>
                                  <th>
                                      Nom & Prénom du malade
                                  </th>
                                  <th>
                                      Type malade
                                  </th>
                                  <th>
                                      Adresse
                                  </th>
                                  <th>
                                      Date de naissance
                                  </th>
                                  <th>
                                      Date dépôt
                                  </th>
                                  <th>
                                      Date soin
                                  </th>
                                   <th>
                                      Fichier
                                  </th>
                                  <th>
                                    Actions
                                  </th>
                              </thead>
                              <tbody>
                                <tr >
                                  
                                  <td></td>
                                  <td class="text-primary"></td>
                                  
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
