<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Administration des utilisateurs</h4>
                      <p class="card-category">Visualisez la liste complète des utilisateurs enregistrés.</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-primary">
                                <th>CIN</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Adresse E-mail</th>
                                <th>Numéro de téléphone</th>
                                <th>Résidence</th>
                                <th>Role</th>
                                <th>Actions</th>
                              </thead>
                              <tbody>
                               <tr *ngFor="let user of users">
                                  <td>{{ user.cin }}</td>
                                  <td>{{ user.nom }}</td>
                                  <td>{{ user.prenom }}</td>
                                  <td>{{ user.mail }}</td>
                                  <td>{{ user.numtel }}</td>
                                  <td>{{ user.residence }}</td>
                                  <td>{{ user.role }}</td>
                                  <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Supprimer" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteUser(user.iduser)">
                                        <i class="material-icons">close</i>
                                   </button>
                                  </td>
                                 </tr>
                                </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
       </div>
    </div>
