<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Suivi des demandes</h4>
                      <p class="card-category">Consultez les dossiers traités ou en cours de traitement.</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Référence BS
                                  </th>
                                  <th>
                                      Nom & Prénom du malade
                                  </th>
                                  <th>
                                      Le malade est
                                  </th>
                                  <th>
                                      Date de naissance
                                  </th>
                                  <th>
                                      Adresse
                                  </th>
                                  <th>
                                      Date dépôt
                                  </th>
                                  <th>
                                      Date soin
                                  </th>
                                   <th>
                                      Etat
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let b of bulletins">
                                  <td>{{ b.idbulletin }}</td>
                                  <td>{{ b.reference }}</td>
                                  <td>{{ b.nomadherent }}</td>
                                  <td>{{ b.nommalade }}</td>
                                  <td>{{ b.typemalade }}</td>
                                  <td>{{ b.adresse }}</td>
                                  <td>{{ b.datenaissance | date: 'yyyy-MM-dd' }}</td>
                                  <td>{{ b.datedepot | date: 'yyyy-MM-dd' }}</td>
                                  <td>{{ b.datesoin | date: 'yyyy-MM-dd' }}</td>
                                  <td>{{ b.etat }}</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
