<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Suivi des demandes</h4>
                      <p class="card-category">Consultez les dossiers traités ou en cours de traitement.</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Référence BS
                                  </th>
                                  <th>
                                      Nom & Prénom du malade
                                  </th>
                                  <th>
                                      Type malade
                                  </th>
                                  <th>
                                      Adresse
                                  </th>
                                  <th>
                                      Date de naissance
                                  </th>
                                  <th>
                                      Date dépôt
                                  </th>
                                  <th>
                                      Date soin
                                  </th>
                                   <th>
                                      Etat
                                  </th>
                                  <th>
                                    Actions
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let b of bulletins">
                                  <td>{{ b.reference }}</td>
                                  <td>{{ b.nommalade }}</td>
                                  <td>{{ b.typemalade }}</td>
                                  <td>{{ b.adresse }}</td>
                                  <td>{{ b.datenaissance | date: 'yyyy-MM-dd' }}</td>
                                  <td>{{ b.datedepot | date: 'yyyy-MM-dd' }}</td>
                                  <td>{{ b.datesoin | date: 'yyyy-MM-dd' }}</td>
                                  <td class="text-primary">{{ b.etat }}</td>
                                  <td class="td-actions text-right">
                                     <button mat-raised-button type="button" matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon">
                                      <i class="material-icons">edit</i>
                                     </button>
                                     <button mat-raised-button type="button" matTooltip="Supprimer" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="onDeleteBulletin(b.idbulletin)">
                                       <i class="material-icons">close</i>
                                     </button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
